<style>
	.block {
		background: #ff3760;
		color: black;
		padding: 1rem 4rem;
		border: 0;
		font-size: 1.5rem;
	}
</style>

<div class="block">
	<h2><slot name="header"></slot></h2>
	<p><slot name="paragraph"></slot></p>
</div>
